$primary-bgcolour: #424242;
$secondary-bgcolour: #210141;
$third-colour: #fcfcfc;

body, html {
    background-color: $secondary-bgcolour;
}

section {
    width: 100%;
    
}
#top-bar {
    position: fixed;
    top: 0;
    left: 0;
    max-height: 40px;
    text-align: center;
    line-height: 5px;
    border-bottom-style: solid;
    border-width: 3px;
    border-color: black;
    background-color: $third-colour;
}

#main {
    background-color: $secondary-bgcolour;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 14em;
    float: right;
    }

#about {
    border-style: solid;
    border-width: 5px;
    border-color: black;
}

#blog {
    border-style: solid;
    border-width: 5px;
    border-color: black;
}

#portfolio {
    border-style: solid;
    border-width: 5px;
    border-color: black;
}

#bottom {
    position: fixed;
    bottom: 0;
    right: 0;
    max-height: 40px;
    text-align: center;
    line-height: 5px;
    color: $third-colour;
}

#home-nav {
    background-color: $secondary-bgcolour;
}

figcaption {
    color: $primary-bgcolour;
}