$primary-bgcolour: #424242;
$secondary-bgcolour: #210141;
$third-colour: #fcfcfc;

body {
    background-color: $secondary-bgcolour;
}

section {
    width: 100%;
    
}
#top-bar {
    max-height: 50px;
    text-align: center;
    line-height: 0px;
    background-color: $third-colour;
}

#main {
    background-color: $secondary-bgcolour;
    display:flex;
    justify-content: center;
    }

.about {
    align-items: right;
}

#bottom {
    display: flex;
    justify-content: flex-end;
    background-color: $secondary-bgcolour;
    color: $third-bgcolour;
}

#home-nav {
    background-color: $secondary-bgcolour;
}

figcaption {
    color: $primary-bgcolour;
}