@import url("https://fonts.googleapis.com/css?family=Barlow+Semi+Condensed|Cabin+Condensed&display=swap");
* {
  margin: 0;
  padding: 0;
}

body, html {
  background-color: #04406d;
  height: 100%;
}

html {
  scroll-behavior: smooth;
}

@media only screen and (max-width: 768px) {
  #nav-container a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0.5em;
  }
  #about-me {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0.5em;
  }
}

h4 {
  margin-top: .5em;
}

#top-bar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  height: auto;
  text-align: center;
  border-bottom-style: solid;
  border-width: 3px;
  border-color: #292826;
  background-color: #e5ecea;
  font-family: "Barlow Semi Condensed", sans-serif;
}

#tag-line-header {
  font-size: 2em;
  margin-top: 5em;
  text-shadow: 2px 2px 0 #000;
  padding: 0.5;
  font-family: "Barlow Semi Condensed", sans-serif;
  text-align: center;
}

#tag-line {
  text-align: center;
  color: #ad8961;
  margin: 0.5em;
  padding-top: 0.5em;
  padding-bottom: 10em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  text-shadow: 2px 2px 0 #000;
  font-family: "Barlow Semi Condensed", sans-serif;
}

@media only screen and (min-width: 768px) {
  #tag-line h2 {
    overflow: hidden;
    border-right: 0.05em solid #292826;
    white-space: nowrap;
    margin: 0 auto;
    -webkit-animation: typing 4.5s steps(40, end), blink-caret 0.75s step-end infinite;
            animation: typing 4.5s steps(40, end), blink-caret 0.75s step-end infinite;
  }
  @-webkit-keyframes typing {
    from {
      width: 0;
    }
    to {
      width: 75%;
    }
  }
  @keyframes typing {
    from {
      width: 0;
    }
    to {
      width: 75%;
    }
  }
  @-webkit-keyframes blink-caret {
    from, to {
      border-color: transparent;
    }
    50% {
      border-color: #292826;
    }
  }
  @keyframes blink-caret {
    from, to {
      border-color: transparent;
    }
    50% {
      border-color: #292826;
    }
  }
}

#nav-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 2.5em;
  padding-top: 0.5em;
  font-family: "Cabin Condensed", sans-serif;
}

#nav-container a {
  padding: 0.5em;
  margin-right: 0.5em;
  border-style: solid;
  border-width: 2px;
  border-color: #292826;
  background-color: #e5ecea;
  color: #292826;
  -webkit-box-shadow: 2px 2px 0 #000;
          box-shadow: 2px 2px 0 #000;
  -webkit-transition-duration: 0.4s;
          transition-duration: 0.4s;
}

#nav-container a:hover {
  background-color: #292826;
  color: #e5ecea;
}

#about-me {
  margin: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  height: 90%;
  background-color: #292826;
  color: #ad8961;
  border-style: solid;
  border-width: 2px;
  border-color: #ad8961;
  font-family: "Cabin Condensed", sans-serif;
}

#about-me img {
  padding: 0.5em;
}

#about-me h1 {
  padding-top: 1em;
  padding-bottom: 0.5em;
}

#about-me-info {
  max-width: 75%;
}

#portfolio {
  margin: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: 90%;
  background-color: #292826;
  color: #ad8961;
  border-style: solid;
  border-width: 2px;
  border-color: #ad8961;
  font-family: "Cabin Condensed", sans-serif;
}

#portfolio img {
  margin-top: 3em;
  width: 50vw;
  height: 20vw;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

#bottom {
  position: fixed;
  bottom: 0;
  right: 0;
  padding-right: 2em;
  color: #ad8961;
}

#home-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 2.5em;
}

#home-nav a {
  padding: 0.5em;
  margin-right: 0.5em;
  border-style: solid;
  border-width: 2px;
  border-color: #292826;
  background-color: #e5ecea;
  color: #292826;
  -webkit-box-shadow: 2px 2px 0 #000;
          box-shadow: 2px 2px 0 #000;
  -webkit-transition-duration: 0.4s;
          transition-duration: 0.4s;
}

#home-nav a:hover {
  background-color: #292826;
  color: #e5ecea;
}

#post-id {
  margin: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  height: 90%;
  background-color: #292826;
  color: #ad8961;
  border-style: solid;
  border-width: 2px;
  border-color: #ad8961;
  font-family: "Cabin Condensed", sans-serif;
}

#id-content p {
  margin: 1em;
}
/*# sourceMappingURL=portfoliostyle.css.map */